<mat-toolbar class="geral" color="primary">
    <div>
        <a class="logo" href="http://localhost:4200/home"><img src="assets/img/image.png" alt="logo" height="10px" width="10px"></a>
    </div>
    <div class="navbar-container">
        <div class="navbar">
            <ul class="navbar-list">
                <li class="navbar-item">
                    <a class="navbar-item" href="http://localhost:4200/home">Home</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-item" href="http://localhost:4200/posts">Blog</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-item" href="http://localhost:4200/usuario">Usuarios</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-item" href="http://localhost:4200/contato">Contato</a>
                </li>
            </ul>
        </div>
    </div>
</mat-toolbar>