.mat-toolbar {
    background-color: #15172b;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

img {
    width: 70px;
    height: 50px;
    margin-left: 5%;
}

.navbar-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
}


.navbar-item {
    border: none;
    font-family: "Typold", sans-serif;
    margin-right: 10px;
    color: #ccbd9e;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: .85rem;
    cursor: pointer;
    text-decoration: none;
}

.navbar-item:hover {
    color: #d8ccb2;
}

.search {
    width: 200px;
    height: 100px;
    margin-top: 5px;
    color: #d8ccb2;
}

.acount-button {
    color: #ccbd9e;
    margin-left: 6.25rem;

}

.acount-button:hover {
    color: #dbc89f;
}

@media (max-width: 480px) {
    .navbar {
        display: flex;
        justify-content: center;
        width: 70%;
    }

    .navbar-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    .mat-toolbar {
        background-color: #15172b;
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .navbar-item {
        display: flex;
        justify-content: space-between;
    }

}