<div class="footer">
    <div class="footer_row">
        <div class="footer__addr">
            <h1 class="footer__logo">Gabriel Ferreira</h1>
        </div>
        <div class="footer_nav">
            <ul class="footer__nav">
                <li class="nav__item">
                    <h2 class="nav__title">Redes sociais</h2>
                    <ul class="nav__ul">
                        <li>
                            <a href="https://www.linkedin.com/in/gabs-ferreira/" target="_blank">Linkedin</a>
                        </li>
                        <li>
                            <a href="https://github.com/Gabs-024" target="_blank">GitHub</a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/gbrl_93/" target="_blank">Instagram</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item nav__item--extra">
                    <h2 class="nav__title">Tecnologias</h2>
                    <ul class="nav__ul nav__ul--extra">
                        <li>
                            <a href="#">JAVA</a>
                        </li>
                        <li>
                            <a href="#">Angular</a>
                        </li>
                        <li>
                            <a href="#">Banco de dados MySQL</a>
                        </li>
                        <li>
                            <a href="#">Firebase</a>
                        </li>
                        <li>
                            <a href="#">AWS Cloud</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item">
                    <h2 class="nav__title">Legal</h2>
                    <ul class="nav__ul">
                        <li>
                            <a href="#">Termos de privacidade</a>
                        </li>
                        <li>
                            <a href="#">Termos de uso de imagem</a>
                        </li>
                        <li>
                            <a href="#">LGPD</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div>
                <img id="imagemLogo" src="assets/img/image.png"C alt="logo">
            </div>
        </div>
    </div>
    <div class="legal">
        <p>&copy; 2023 Gabriel Ferreira. Todos os direitos reservados.</p>
    </div>
</div>